<head><link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css"></head>
<div class="row animated fadeIn">
    <div class="col-md-6">
      <div class="mycard" [routerLink]="['/']">
        <br/>
        <span style="font-size:90px;"><i class="cui-file"></i></span>
        <br/>
             Réserver un livre
          <br/>
          <br/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mycard" [routerLink]="['/']">
          <br/>
          <span style="font-size:90px;"><i class="cui-wrench"></i></span>
          <br/>
          Réserver du matériel
          <br/>
          <br/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mycard" [routerLink]="['/']">
        <br/>
        <span style="font-size:90px;"><i class="cui-dashboard"></i></span>
        <br/>
         Réserver une salle
        <br/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mycard"  [routerLink]="['/exploitation']">
          <br/>
          <span style="font-size:90px;"><i class="cui-calendar"></i></span>
          <br/>
          Prendre rendez-vous
          <br/>
          <br/>
      </div>
    </div>
</div>

