

<div class="container">
  <div class="row animated fadeIn">
    <div class="col">
      <div class="card">
        <div class="card-header"><h5>Horaires d'ouverture Site de Nantes</h5></div>
        <div class="card-body">
          <label>Le site est ouvert du Lundi au vendredi</label><br>
          <label>De 15h à 16h</label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header"><h5>Horaires d'ouverture Site de Rennes</h5></div>
        <div class="card-body">
          <label>Le site est ouvert du Lundi au vendredi</label><br>
          <label>De 15h à 16h</label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header"><h5>Horaires d'ouverture Site de Brest</h5></div>
        <div class="card-body">
          <label>Le site est ouvert du Lundi au vendredi</label><br>
          <label>De 15h à 16h</label>
        </div>
      </div>
    </div>
  </div>
</div>

